/* vim:sw=4 ts=4 sts=4 expandtab
*/
/* A style for ocamldoc, taken from Daniel C. Buenzli */

/* Google WebFonts:
font-family: 'Rosarivo', serif;         // for casual text
font-family: 'Happy Monkey', cursive;   // for titles
font-family: 'Electrolize', sans-serif; // for code
*/

/* Reset a few things. */
* {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: inherit;
    vertical-align: baseline;
    text-align: inherit;
    color: inherit;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Center body on page */
body {
    margin: auto;
    font-size: 100%;
    line-height: 1.125em;
    font-family: "Rosarivo", helvetica, arial, sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 1.375em 1.85em 3em 1.375em;
    min-width: 20em;
    max-width: 50em;
    color: black;
}

tt, code, pre {
    font-family: "Electrolize", monospace;
}

code {
    font-size: inherit;
}

.superscript, .subscript {
    font-size: 0.813em;
    line-height: 0;
    margin-left: 0.4em;
}
.superscript { vertical-align: super; }
.subscript { vertical-align: sub; }

/* ocamldoc markup workaround hacks */

hr, hr + br, div + br, center + br, span + br, ul + br, ol + br, pre + br, h1 + br, h2 + br, h3 + br, h4 + br
{ display: none; } /* annoying */

code br { display: inline } /* because of the above span + br rule */

code { white-space: nowrap; }
table.typetable {
    margin-top: 0.5em;
}
table.typetable td code {
    line-height: 1.3em;
}
div.info {
    padding-top: 0.4em;
    padding-bottom: 0.8em;
}

/*center { text-align: left }
center + br + pre { margin-bottom:1.375em}*/ /* Toplevel module description */

/* Sections and document divisions */

/* .navbar { margin-bottom: -1.375em } */
h1 { font-size: 1.5em;   padding: 1.5em 0 1.5em 1.0em;
     background-color: #EEE; border-style: solid; border-width: 1px 0 3px 0; border-color: #000;
     text-align: center; text-transform: capitalize; }
h2 { font-size: 1.313em; padding: 1.1em 0 1.1em 0.1em; }
h3 { font-size: 1.125em; padding: 0.6em 0 0.6em 0.2em; }
h3 { font-size: 1em;     padding: 0.4em 0 0.4em 0.3em; }
h4 { font-size: 0.9em;   padding: 0.2em 0 0.2em 0.4em; }
h1, h2, h3, h4 {
    font-family: "Happy Monkey", sans-serif;
    font-weight: bold;
}

p { margin-top: 1.375em; padding-left: 0.5em; }
/*pre { margin-top: 1.375em; }*/
pre, code, table { padding-left: 0.4em; }
.info { margin: 0.458em 0em -0.458em 2em;}/* Description of types values etc. */
td .info { margin:0; padding:0; margin-left: 2em;} /* Description in indexes */

ul, ol { margin-top:0.688em; padding-bottom:0.687em;
     list-style-position:outside}
ul + p, ol + p { margin-top: 0em }
ul { list-style-type: square }


/* h2 + ul, h3 + ul, p + ul { } */
ul > li { margin-left: 1.375em; }
ol > li { margin-left: 1.7em; }
/* Links */

a, a:link, a:visited, a:active, a:hover { color : #00B; text-decoration: none }
a:hover { text-decoration : underline }
*:target {background-color: #FFFF99;} /* anchor highlight */

/* Code */

.keyword { font-weight: bold; }
.comment { color : red }
.constructor { color : green }
.string { color : brown }
.warning { color : red ; font-weight : bold }
.type { color : green }

/* Functors */

.paramstable { border-style : hidden ; padding-bottom:1.375em}
.paramstable code { margin-left: 1em; margin-right: 1em }
.sig_block {margin-left: 1em}













