svg {
	overflow: scroll;
}

svg circle.gge_handle {
    fill: none;
    stroke: #b0e0e0;
}
svg circle.gge_dragged {
    stroke: #a0c0c0;
}
svg line.gge_edge {
    stroke-width: 3px;
    stroke: black;
}

svg g#hubs circle {
    fill: aliceblue;
    stroke: gray;
}
svg g#switches circle {
    fill: orange;
    stroke: gray;
}
svg g#hosts circle {
    fill: white;
    stroke: gray;
}

/* repeat 3 times to be more specific than above rules */
svg g#hubs g.selected text, svg g#switches g.selected text, svg g#hosts g.selected text {
    stroke: #f02005;
}
svg g#hubs g.selected circle, svg g#switches g.selected circle, svg g#hosts g.selected circle {
    fill: #2020ff;
}

