#include "start.inc"
<body onload="$('#home_link').addClass('selected');">
#	include "body-start.inc"
	<div class="short">
		<p>RobiNet</p> is a toy network simulator that allow you to <a href="packets.html">inspect
		individual packets</a> from a pcap file or captured on an Ethernet device,
		<a href="hosts.html">fake networked machines</a> able to stand a communication with
		some real equipment, or why not a whole <a href="nets.html">fake network of fake
		hosts</a>, that you can <a href="scenarii.html">automate</a> and <a href="metrics.html">
		benchmark</a>.</p>
		<p>It&rsquo;s free software so you can freely use, copy, modify and re-distribute it
		under the terms of the <a href="http://www.gnu.org/licenses/agpl.html">Affero GPLv3</a>.</p>
		<p>The API documentation is <a href="doc/index.html">here</a>.
	</div>

#	include "body-end.inc"
